scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/vortexforce
        create path (nt:unstructured) /content/dam/vortexforce/jcr:content
        set properties on /content/dam/vortexforce/jcr:content
        set cq:conf{String} to /conf/vortexforce
        set jcr:title{String} to \"VortexForce\"
        end
        "
]
